<header class="top-header">
  
</header>

<div class="table-glass-container list-override" *ngIf="(songs$ | async)?.length; else emptyState">
  <app-song-table
    [songs]="songs$ | async"
    (rowClick)="openEditModal($event)">
  </app-song-table>
</div>

<ng-template #emptyState>
  <div class="table-glass-container empty-state-override">
    <div class="empty-content">
      <div class="icon-ring">
        <mat-icon>check_circle_outline</mat-icon>
      </div>
      <h2>Todo está en orden</h2>
      <p>No se han detectado archivos duplicados en tu biblioteca.</p>
    </div>
  </div>
</ng-template>

<app-edit-modal
  *ngIf="selectedSong"
  [song]="selectedSong"
  [isClosing]="isClosingModal"
  (close)="closeEditModal()"
  (save)="onSongSaved($event)"
  (delete)="onSongDeleted($event)">
</app-edit-modal>