<div class="fondo-animado">
  <div class="collage-contenedor">
    
    <div class="bloque-relativo">
      <img src="assets/collage.PNG" alt="Fondo musical LOMusic">
    </div>

    <div class="bloque-relativo">
      <img src="assets/collage.PNG" alt="Fondo musical LOMusic">
    </div>

  </div>
</div>

<div class="filtro-oscuro"></div>

<div class="gradiente-inferior"></div>

<div class="ui-contenedor">
  
  <div class="header-titulos">
    <h1 class="logo">
      <span class="lom">LOM</span><span class="usic">usic</span>
    </h1>
    <p class="slogan">Auditoría acústica para tu colección en alta fidelidad.</p>
  </div>
  
  <button mat-raised-button routerLink="/admin" class="boton-empezar">
  Empezar
</button>

  <div class="footer-enlaces">
    <button class="enlace-texto">¿Quiénes somos?</button>
    <button class="enlace-texto">Preguntas frecuentes</button>
  </div>
</div>